# System Files
.DS_Store
Thumbs.db

# Dependencies
**/node_modules/
**/dist/
**/build/

# Environment Variables
.env
.env.local
.env.*.local

# Logs
*.log
**/ErrorLogger.txt
**/RequestLogger.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.swo
